<html>
<head>
	<title>Home Page</title>
	<script src="/vendor/jquery/dist/jquery.min.js"></script>
  	<!-- Underscore -->
  	<script src="/vendor/underscore/underscore-min.js"></script>
  	<!-- Bootstrap JS -->
  	<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  	<!-- Bootstrap CSS -->
  	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  	<!-- ToEat.ly -->
  	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
  	<script src="/static/js/app.js"></script>
</head>
<body id="home">
	<div id="page-wrapper" class="container">
		<br>
		<!-- <button type="submit" id="signup">Sign Up</button> -->
		<a href="/signup">Signup</a>
		<a href="/login">Login</a>
		<h1 id="homepage_title">What are you going to do today?</h1>
	</div>
</body>
</html>