<html>
<head>
	<title>Login here</title>
	<script src="/vendor/jquery/dist/jquery.min.js"></script>
  	<!-- Underscore -->
  	<script src="/vendor/underscore/underscore-min.js"></script>
  	<!-- Bootstrap JS -->
  	<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  	<!-- Bootstrap CSS -->
  	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  	
  	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
  	<script src="/static/js/login.js"></script>
</head>
<body>
	<div id="page-wrapper" class="container">
		<br>
		LOGIN HERE!
		<br>
		<form id="login-form">
			<input type="text" name="username_" id="username_" placeholder="Enter username">
			<input type="password" name="password_" id="password_" placeholder="Enter password">
			<button name="login_" id="login_">Login</button>
		</form>
	</div>
</body>
</html>