<html>
<head>
	<title>Login here</title>
	<script src="/vendor/jquery/dist/jquery.min.js"></script>
  	<!-- Underscore -->
  	<script src="/vendor/underscore/underscore-min.js"></script>
  	<!-- Bootstrap JS -->
  	<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  	<!-- Bootstrap CSS -->
  	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  	
  	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
  	<script src="/static/js/app.js"></script>
</head>
<body>
	<div id="page-wrapper" class="container">
    <div id="signup-form-wrapper">
  		<form method="post" action="/login" id="login-form" class="form">
          <h1 id="signup-title">Login Here</h1>
          <br>
      		<div>
        			<input type="text" name="user[email]" placeholder="Username">
      		</div>
      		<div>
        			<input type="password" name="user[password]" placeholder="Password">
     			</div>
      		<button>Login</button>
    	</form>
    </div>
	</div>
</body>
</html>