<html>
<head>
	<title>Modify Task</title>
	<script src="/vendor/jquery/dist/jquery.min.js"></script>
  	<!-- Underscore -->
  	<script src="/vendor/underscore/underscore-min.js"></script>
  	<!-- Bootstrap JS -->
  	<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  	<!-- Bootstrap CSS -->
  	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  	<!-- ToEat.ly -->
  	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
  	<script src="/static/js/app.js"></script>
</head>
<body id="home">
	<div id="page-wrapper" class="container modifyContainer hidden">
		<br>
		<form id="modify-task-form"> 
			<input type="text" name="updated_name" placeholder="modify name here">
			<br>
			<br>
			<input type="text" name="updated_description" id="updated_description" placeholder="modify description here">
			<br>
			<br>
			<input type="text" name="updated_priority" id="updated_priority" placeholder="modify priority here">
			<br>
			<br>
			<button class="modify_button" type="submit">Modify!</button>
		</form>
	</div>
</body>
</html>