<html>
<head>
	<title>Signup here</title>
	<script src="/vendor/jquery/dist/jquery.min.js"></script>
  	<!-- Underscore -->
  	<script src="/vendor/underscore/underscore-min.js"></script>
  	<!-- Bootstrap JS -->
  	<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  	<!-- Bootstrap CSS -->
  	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  	
  	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
  	<script src="/static/js/app.js"></script>
</head>
<body>
	<div id="page-wrapper" class="container">
		<br>
		SIGNUP HERE!
		<br>
		<form id="signup-form">
			<input type="text" name="_email" id="_email" placeholder="Enter email">
			<input type="password" name="_password" id="_password" placeholder="Enter password">
			<button id="sign_up">Sign up!</button>
		</form>
	</div>
</body>
</html>