body{
	background-image: url(https://images.unsplash.com/reserve/m6rT4MYFQ7CT8j9m2AEC_JakeGivens%20-%20Sunset%20in%20the%20Park.JPG?q=80&fm=jpg&s=a8c0ccdc8b018bc32f848533bc1348ac);
	background-size: 100%;
}

/* Home page */
#homepage_title{
	margin-top: 200px;
	margin-right: 100px;
	color: 303E73;
	text-align: center;
	font-size: 50px;
}

#separator{
	font-size: 20px;
	display:inline;
	color: black;
}

a{
	color: black;
	font-size: 20px;
}

a:hover{
	color:5C50C2;
	text-decoration: none;
}

/* Sign up page */

#signup-form-wrapper{
	border-width: 1px;
	border-color: black;
	border-style: solid;
	width: 300px;
	margin-left: 300px;
	margin-top: 80px;
	background-color: rgba(225, 225, 225, 0.3);
	border-radius: 10px;
	box-shadow: 5px 7px 10px 0px black; 

}

.form{
	/*margin-left: 25px;*/
	text-align: center;
	width: 100%;
	border-width: 10px;
	border-color: black;
}

#signup-button{
	margin-left: 20px;
}


/* List page */
.task{
	border: 1px solid;
	border-radius: 10px;
	background-color: rgba(200, 200, 200, 0.2);
	padding-left: 15px;
	padding-top: 8px;

}

.task:hover{
	background-color: rgba(200, 200, 200, 0.6);
	box-shadow: 5px 7px 10px 0px black; 
}

.delete_task{
	border: 1px solid;
	width: 100px;
	text-align: center;
}

/* Modify form */
.modifyContainer {
	position: fixed;
	top: 100px;
	left: 350px;
	z-index: 9001;
	background-color: black;
	opacity: 0.8;
	width: 500px;
	height: 500px;
	border-radius: 10px;
}

.hidden{
	display: none;
}

#updated_description{
	width:300px;
}
