body{
	background-image: url(https://images.unsplash.com/reserve/m6rT4MYFQ7CT8j9m2AEC_JakeGivens%20-%20Sunset%20in%20the%20Park.JPG?q=80&fm=jpg&s=a8c0ccdc8b018bc32f848533bc1348ac);
	background-size: 100%;
}

/* Home page */
#homepage_title{
	margin-top: 200px;
	margin-right: 100px;
	color: 303E73;
	text-align: center;
	font-size: 50px;
}

#separator{
	font-size: 20px;
	display:inline;
	color: black;
}

a{
	color: black;
	font-size: 20px;
}

a:hover{
	color:5C50C2;
	text-decoration: none;
}

/**/

/* List page */
.task{
	border: 1px solid;
	background-color: rgba(200, 200, 200, 0.2);
	padding-left: 15px;
	padding-top: 8px;

}

.delete_task{
	border: 1px solid;
	width: 100px;
	text-align: center;
}


.modifyContainer {
	position: fixed;
	top: 100px;
	left: 350px;
	z-index: 9001;
	background-color: black;
	opacity: 0.8;
	width: 500px;
	height: 500px;
}



