.task{
	border: 1px dotted;
}

.delete_task{
	border: 1px solid;
	width: 100px;
	text-align: center;
}


.modifyContainer {
	position: fixed;
	top: 100px;
	left: 350px;
	z-index: 9001;
	background-color: black;
	opacity: 0.8;
	width: 500px;
	height: 500px;
}